*{
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.logo-container{
    flex: 3;
    color:white;
    text-align: left;
}

.logo{
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    margin: 20px 0;
    padding-left: 10px;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
}

.menu-container{
    flex: 5;
    color: white;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 60px;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.background-container{
    margin-left: 50px;
}

.featured-content{
    height: 50vh;
    padding: 40px;
}

.author-name{
    font-weight: bold;
    color: orange;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured-title{
    font-weight: 400;
    color: white;
    width: 200px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured-desc{
    width: 500px;
    color:lightgray;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured-button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.movie-list-container{
    padding: 0 30px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
}

.movie-list-item{
    margin-right: 30px;
}

.movie-list-item:hover .movie-item-img{
    transform: scale(1.1);
    margin: 0 30px;
}

.movie-item-img{
    width: 190px;
    height: 175px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
    margin: right;
}

.movie-item-title{
    font-weight: bold;
    align-items: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-item-buttom{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

.about-container{
    background-color: #151515;
    height: 200vh;
    color: white;
}

.about-background-container{
    margin-left: 50px;
}

.about-featured-content{
    height: 50vh;
    padding: 40px;
}

.about-us-section-container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 2.0em;
    text-align: left;;
}

.about-us-title{
    font-size: 60px;
    font-weight:700;
    padding-top: 60px;
    text-align: center;
    border-bottom: white;
    text-decoration-line: underline;
}

.about-us-para-container{
    padding-top: 30px;
}

.contact-container{
    background-color: #151515;
    min-height: calc(120vh - 40px);
    color: white;
}

.contact-background-container{
    margin-left: 50px;
}

.contact-featured-content{
    height: 40vh;
    padding: 40px;
}

.contact-us-title{
    font-size: 60px;
    font-weight:700;
    padding-top: 60px;
    text-align: center;
    border-bottom: white;
    text-decoration-line: underline;
}

.contact-box{
    width: 490px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -51%);
    position: absolute;
    margin-top: 100px;
    border-radius: 10px;
}

form{
    margin: 30px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.contact-us-button{
    border-radius: 5px;
    background-color: green;
    border: none;
    color: #fff;
    margin-top: 18px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
}

.content-container{
    background-color: #151515;
    min-height: calc(160vh - 40px);
    color: white;
}

.content-background-container{
    margin-left: 50px;
}

.content-featured-content{
    height: 40vh;
    padding: 40px;
}

.content-title{
    font-size: 60px;
    font-weight:700;
    padding-top: 60px;
    text-align: center;
    border-bottom: white;
    text-decoration-line: underline;
}

.content-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 51.5%;
    transform: translate(-50%, -51%);
    position: absolute;
    border-radius: 10px;
    margin-top: 60px;
}

.content-input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.contact-us-button{
    border-radius: 5px;
    background-color: green;
    border: none;
    color: #fff;
    margin-top: 18px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
}

.disclaimer{
    text-align: center;
}
