<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embeddingVersion</key>
	<string>1</string>
	<key>localeIdentifier</key>
	<string>en_US</string>
	<key>sceneTaxonomySHA</key>
	<string>4afa5d3c45c08a664cf73cff957aaeeae3a325d2970aada51268407b9ad0f03e</string>
	<key>searchIndexVersion</key>
	<string>15075</string>
</dict>
</plist>
